openapi: '3.0.0'
info:
  version: 1.0.0
  title: Dolce Press API
  license:
    name: MIT
servers:
  - url: https://api.dolcepress.com/v1
paths:
  /orders:
    get:
      summary: List all orders
      operationId: listOrders
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of orders
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new order
      operationId: createOrder
      responses:
        201:
          description: Order created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders/{orderId}:
    get:
      summary: Retrieve details for a specific order
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          required: true
          description: The unique identifier of the order to retrieve
          schema:
            type: string
      responses:
        200:
          description: Detailed information about the specified order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing order
      operationId: updateOrder
      responses:
        200:
          description: Order updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /designs:
    get:
      summary: List available design templates
      operationId: listDesigns
      parameters:
        - name: category
          in: query
          description: Filter designs by category such as business cards or invitations
          required: false
          schema:
            type: string
      responses:
        200:
          description: A collection of design templates with metadata
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Designs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Upload a custom design
      operationId: createDesign
      responses:
        201:
          description: Custom design uploaded and processed successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Order:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        status:
          type: string
    Orders:
      type: array
      items:
        $ref: '#/components/schemas/Order'
    Design:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        category:
          type: string
    Designs:
      type: array
      items:
        $ref: '#/components/schemas/Design'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string